.box{
    margin: 10px 2px 2px 2px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.add-cart,.buy-now{
    border: 0.5px solid black;
    width: 50%;
    height: 2rem;
    text-align: center;
    margin: 0 1px;
    border-radius: 20px;
}

.add-cart{
    background-color: orange;
}

.buy-now{
    background-color: violet;
}

.details{
    margin: 1px;
    padding: 1px;
}

.details .saree-name{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.price-style{
    display: flex;
    align-items: center;
    gap: 10px;
}
.price-tag{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.strike-price{
    text-decoration: line-through;
}
