.box{
    margin: 10px 2px 2px 2px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.add-cart,.buy-now{
    border: 0.5px solid black;
    width: 50%;
    height: 2rem;
    text-align: center;
    margin: 0 1px;
    border-radius: 20px;
}

.add-cart{
    background-color: orange;
}

.buy-now{
    background-color: violet;
}



