.carousel{
    margin: 8px 0;
    height: 380px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    display:block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{ filter: drop-shadow(0 2px 6px rgba(0,0,0,0.2)) }


