.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-brand img {
    border-radius: 10px;
    width: 100%;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-left: 15px;
    transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  
  .signout{
    cursor: pointer;
  }

  .profile{
    cursor: pointer;
  }